<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REMINGTON GOLD</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
    crossorigin="anonymous"
  />
  <!-- JavaScript Bundle with Popper -->
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid data-bs-toggle">
          <img th:src="@{images/logo.jpg}"  alt="" class="mx-3" />
          <a class="navbar-brand" th:href="@{/menu}">Centauru's Bank</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto" id="r"></div>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto" id="r">
            
              <a class="nav-link active" aria-current="page" th:href="@{/menu}"
                >Regresar
                </a
              >
            </div>
          </div>
      </nav>


    <div class="container m-3">
        <div class="row">
            <div class="card py-3">
                <div class="card-title">
                    <h1 class="text-center mt-3 ">   </h1>
                    <br>
                    <br>
	  	    <h3 class="text-center mt-3 ">Listado de Solicitudes</h3>
                    
                    <table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>id</th>					
                                        <th>Documento</th>
                                        <th>Nombre</th>
                                        <th>Dirección</th>
                                        <th>Email</th>
                                        <th>Celular</th>
					<th>Tipo Solicitud</th> 
                                        <th>Fecha</th> 
                                        <th>Estado Aprobación</th> 
			</thead>
			<tbody>
				<tr th:each="solicitudproducto : ${solicitudproductos}">
                                        <td th:text="${solicitudproducto.id}">Id</td>										
					<td th:text="${solicitudproducto.tipo_documento} + ' '+${solicitudproducto.documento} ">Documento</td> 
					<td th:text="${solicitudproducto.nombre}">Nombre</td>
                                        <td th:text="${solicitudproducto.direccion}">Dirección</td>
                                        <td th:text="${solicitudproducto.email}">Email</td>
                                        <td th:text="${solicitudproducto.celular}">Celular</td>
                                        
                                        <td  >     
                                          <span th:if="${solicitudproducto.tipo_solicitud == 'CA'}">Cuenta Ahorros</span>  
                                          <span th:if="${solicitudproducto.tipo_solicitud == 'CC'}">Cuenta Corriente</span>                                       
                                          <span th:if="${solicitudproducto.tipo_solicitud == 'TC'}">Tarjeta Crédito</span> 
                                          <span th:if="${solicitudproducto.tipo_solicitud == 'TM'}">Tarjeta Consumo</span> 
                                        </td>     
                                      
                                         <td th:text="${solicitudproducto.fecha_solicitud}">Fecha</td>
                                         
                                         <td>   
                                           <a th:href="@{/menulistado/S/{id}(id=${solicitudproducto.id})}">Aprobar</a>  
                                           <a > &nbsp;&nbsp;&nbsp;   </a>  
                                           <a th:href="@{/menulistado/N/{id}(id=${solicitudproducto.id})}">Denegar</a>  
                                         </td>
				</tr>
			</tbody>
		</table>
 
 
                </div>               
            </div>
        </div>
    </div>
</body>
</html>